
   <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Welcome to Jumbo CD Swap Calculator</h1>


        <!-- current_or_guest_user is in the application controller -->
        <% if current_or_guest_user %>
  
           <% if current_user %>
             Hello <%= current_user.name %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
             
             <br>
           
            <h4>To Enter the New CD click here</h4>
             <div id="edit-button">
                <span style="display: inline;">
                    <%= link_to "Enter New Cd", edit_new_cd_path(@newcd), class: 'btn btn-success' %>
                </span>
                <span style="display: inline;">
                    <%= link_to "Blank Slate", edit_transaction_path(@transaction), class: 'btn btn-success' %>
                </span>
             </div>

             <% if policy(@newcd).index? %>
             <h4> To sign up another person click here! </h4>
             <div id="edit-button">
                <span style="display: inline;">
             <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success' %>
             <% end %>

           <% else %>



          <!-- if its a guest user and not an actual signed up user -->
           <h4>Click here to get started!</h4>
             <span style="display: inline;">
                    <%= link_to "CD Swap", edit_transaction_path(@transaction), class: 'btn btn-success' %>
             </span>

             <h4>Or click here to sign in!</h4>
             <div id="edit-button">
                <span style="display: inline;">
             <%= link_to "Sign In", new_user_session_path, class: 'btn btn-success' %>
           <% end %>

        <% end %>
      </div>
    </div>
  </div>
