<br>
<br>
<div class="container">
<div class="row">

<div class="col-md-2">
     <%= form_for @newcd do |f| %>

      <div class="form-group">
       <%= f.label :new_bankname %>
       <%= f.text_field :new_bankname, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :new_rate %>
        <%= f.text_field :new_rate, class: 'form-control' %>
      </div>

      <div class="form-group">
       <%= f.label :new_fee %>
       <%= f.text_field :new_fee, class: 'form-control' %>
      </div>

       <div class="form-group">
       <%= f.label "#{:new_term} (in years)" %>
       <%= f.text_field :new_term, class: 'form-control' %>
       </div>

      <%= f.submit "Submit", class: 'btn btn-success' %>
      <% end %>
</div>
</div>
</div>
