<br>
<br>
<div class="container">

  <h2> Please Enter your <b>Current CD's</b> information </h2>
  <br>
  <div class="row">
    <div class="col-md-2">
     <%= form_for @transaction do |f| %>

      <div class="form-group">
        <%= f.label :bankname %>
        <%= f.text_field :bankname, autofocus: true, class: 'form-control', placeholder: "Enter the Bank's name" %>
      </div>

      <div class="form-group">
        <%= f.label "Rate %" %>
        <%= f.text_field :old_rate, class: 'form-control', placeholder: "Enter the CD's Rate" %>
      </div>

      <div class="form-group">
       <%= f.label "Fee %" %>
       <%= f.text_field :old_fee, class: 'form-control', placeholder: "Enter the Fee Amount" %>
      </div>

       <div class="form-group">
       <%= f.label "Penalty Days:" %>
       <%= f.text_field :old_penalty, class: 'form-control', placeholder: "Enter the Penalty Days" %>
       </div>

       <div class="form-group">
        <%= f.label :principal %>
        <%= f.text_field :principal, class: 'form-control', placeholder: "Enter the Principal Amount" %>
      </div>

      <div class="form-group">
        <%= f.label :start_date %>
        <%= f.date_field :start_date,  class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :maturity_date %>
        <%= f.date_field :maturity_date,  class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label "Analysis date: (Today's date)" %>
        <%= f.date_field :analysis_date, :value => Time.now.strftime('%Y-%m-%d'), class: 'form-control' %>
      </div>

      <%= f.submit "Submit", class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>

<br>
<br>
<br>
