
<div class="container">

  <div><center><img src="https://cdtrack.net/images/jumbo_logo.jpg" alt="Smiley face"></center>
  </div>
  
  <h3><center><p>Rate Analysis for Closing CD Early<br> & Buying New Higher Rate CD</p></center></h3>



  <div id="edit-button">
    
    <span style="display: inline;">
      <%= link_to "Edit CD", edit_transaction_path(@cd), class: 'btn btn-success' %>
    </span>

   
    
  </div>




  <div class="row">
  <div class="col-xs-6"><center><h4>Old CD</h4></center>
    </div>
  <div class="col-xs-6"><center><h4>New CD</h4></center></div>
  </div>

  <table class="table table-condensed">
     <tbody>
      <tr>
        <td><ins><b>Depository:</b></ins></td>
        <td class="vertline"><ins><b>Placed on</b></ins></td>
        
        <td class="indent"><ins><b>Depository:</b></ins></td>
        <td class="indent"><ins><b>Placed on</b></ins></td>
      </tr>
      <tr>
        <td class="btmbord"><%= @cd.bankname %></td>
        <td class="vertline btmbord"><%= @cd.start_date.strftime("%m/%d/%Y") %></td>
        
        <td class="indent btmbord"><%= @newcd.new_bankname%></td>
        <td class="indent btmbord"><%= @cd.analysis_date.strftime("%m/%d/%Y") %></td>
      </tr>


    <tr>
      <td>Old Rate</td>
      <td class="vertline"><%= sprintf('%.3f',@cd.old_rate) %>%</td>
      
      <td class="indent">New Rate (<%=@newcd.new_term %> YR)</td>
      <td class="indent"><%= sprintf('%.3f',@newcd.new_rate) %>%</td>
    </tr>
    <tr>
      <td>Fees Paid</td>
      <td class="vertline"><%= sprintf('%.3f',@cd.old_fee) %>%</td>
      
      <td class="indent">Fees Paid</td>
      <td class="indent"><%= sprintf('%.3f',@newcd.new_fee) %>%</td>
    </tr>
    <tr>
      <td>Net Rate</td>
      <td class="vertline"><%= sprintf('%.3f',@net_rate) %>%</td>
      
      <td class="indent">Net Rate</td>
      <td class="indent"><%= number_with_precision(@new_net_rate, :precision => 3, :delimiter => ',') %>%</td>
    </tr>
    <tr>
      <td>Face of CD</td>
      <td class="vertline">$<%= number_with_precision(@cd.principal, :precision => 2, :delimiter => ',') %></td>
      
      <td class="indent">Face of CD</td>
      <td class="indent">$<%= number_with_precision(@cd.principal, :precision => 2, :delimiter => ',') %></td>
    </tr>
    <tr>
      <td>Analysis Date</td>
      <td class="vertline"><%= @cd.analysis_date.strftime("%m/%d/%Y") %></td>
      
      <td class="indent">Open/Close Date</td>
      <td class="indent"><%= @cd.analysis_date.strftime("%m/%d/%Y") %></td>
    </tr>
    <tr>
      <td class="tds">Maturity Date</td>
      <td class="vertline"><%= @cd.maturity_date.strftime("%m/%d/%Y") %></td>
      
      <td class="indent">Analysis Date:</td>
      <td class="indent"><%= @cd.maturity_date.strftime("%m/%d/%Y") %></td>
    </tr>
    <tr>
      <td>Remaining Term</td>
      <td class="vertline"><%= @remaining_term.to_i %></td>
      
      <td class="indent">Analysis Term:</td>
      <td class="indent"><%= @remaining_term.to_i %></td>
    </tr>
    <tr>
      <td>Old CD Penalty Days </td>
      <td class="vertline"><%= @cd.old_penalty %></td>
     
      <td class="indent">Actual Mat Date: </td>
      <td class="indent"><%= @actual_mat_date.strftime("%m/%d/%Y") %></td>
    </tr>
    <tr>
      <td>Old CD Penalty $</td>
      <td class="vertline">$<%= number_with_precision(@ewp_calc, :precision => 2, :delimiter => ',') %></td>
      
      <td class="indent"><nobr>New Broker Fees Paid</td>
      <td class="indent">$<%= number_with_precision(@new_broker_fees_paid, :precision => 2, :delimiter => ',') %></td>
    </tr>
    <tr>
      <td>Broker Fees Paid</td>
      <td class="vertline">$<%= number_with_precision(@fees_paid, :precision => 2, :delimiter => ',') %></td>
      
      <td class="indent"><nobr>New CD Additional Days</td>
      <td class="indent"><%= @new_cd_additional_days.to_i %></td>
    </tr>
    <tr>
      <td>Fees Remaining<br><br></td>
      <td class="vertline">$<%= number_with_precision(@old_fees_remaining, :precision => 2, :delimiter => ',') %></td>
      
      <td></td>
      <td></td>

    </tr>


    <tr>
      <td>Old CD Remaining $</td>
      <td class="vertline">$<%= number_with_precision(@old_cd_remaining, :precision => 2, :delimiter => ',') %></td>
      <td class="indent">New CD Return</td>
      <td class="indent">$<%= number_with_precision(@new_cd_return, :precision => 2, :delimiter => ',') %></td>
    </tr>
    <tr>
      <td class="btmbord">Old CD Penalty</td>
      <td class="vertline btmbord"><%= "----------->" %></td>
      <td class=" indent btmbord">Old CD Penalty</td>
      <td class=" indent btmbord">$<%= number_with_precision(@ewp_calc, :precision => 2, :delimiter => ',') %></td>
    </tr>
    <tr>
      <td>Old CD Remaining Net $ </td>
      <td><ins id="bkglight">$<%= number_with_precision(@old_cd_net_remaining, :precision => 2, :delimiter => ',') %></ins></td>
      <td class="indent"><nobr>New CD Remaining Net </td>
      <td class="indent"><ins id="bkglight"><nobr>$<%= number_with_precision(@new_cd_net_remaining, :precision => 2, :delimiter => ',') %></ins> (Post Fees)</td>

    </tr>
    
    <% if @remaining_term_net_gain > 0 %>
    <tr class="success">
      <td>
        <nobr><h4>Remaining Term Net Gain:<small>($<%= number_with_precision(@new_cd_net_remaining, :precision => 2, :delimiter => ',') %> - $<%= number_with_precision(@old_cd_net_remaining, :precision => 2, :delimiter => ',') %>) =  </small><b id="bkg"> $<%= number_with_precision(@remaining_term_net_gain, :precision => 2, :delimiter => ',') %></b></h4>  </nobr> 
      </td>
      <td></td>
      <td></td>
      <td></td>

    </tr>

    <%else %> 
    <tr class="danger">
      <td><nobr><h4>Remaining Term Net Gain:<small>($<%= number_with_precision(@new_cd_net_remaining, :precision => 2, :delimiter => ',') %> - $<%= number_with_precision(@old_cd_net_remaining, :precision => 2, :delimiter => ',') %>) = </small></h4>  </nobr>   </td>
      <td></td>
      <td><center><h4>$<%= number_with_precision(@remaining_term_net_gain, :precision => 2, :delimiter => ',') %></b></center></td>
      <td></td>

    </tr>
    <%end%>

  </tbody>
</table>







<p><b><ins>New CD Break-Even:</b></ins></p><p><b>Net Earnings Per Day</b></p>

<table class="table table-condensed">
  <tr>

    <th><ins>Old CD:</ins></th>
    <th><ins>New CD:</ins></th>
    <th><ins>Net Gain/Day:</ins></th>
    <th><ins>Old CD Penalty:</ins></th>
    <th><nobr><ins>Days to Break-Even:</ins></nobr></th>
  </tr>

  <tr class="boldbottom">

    <td>$<%= number_with_precision(@old_net_gain_per_day, :precision => 2, :delimiter => ',') %></td>
    <td>$<%= number_with_precision(@new_net_gain_per_day, :precision => 2, :delimiter => ',') %></td>
    <td>$<%= number_with_precision(@new_net_gain_per_day - @old_net_gain_per_day, :precision => 2, :delimiter => ',') %></td>
    <td>$<%= number_with_precision(@ewp_calc, :precision => 2, :delimiter => ',') %></td>
    <td><% if @remaining_term_net_gain < 0 %>
      Never!
      <% else %>
    <%= (@ewp_calc / (@new_net_gain_per_day - @old_net_gain_per_day)).round %>
    <% end %></td>
  </tr>

</table>

<p><b><ins>OLD CD Wire Break-Down:</b></ins></p>

<table class="table table-condensed">
  <tr>
    
    <th><ins>Principal</ins></th>
    <th><ins>EWP</ins></th>
    <th><ins>Interest</ins></th>
    <th><ins>Wire Fee</ins></th>
    <th><ins>Net Wire</ins></th>
  </tr>

  <tr>
    
    <td>$<%= number_with_precision(@cd.principal, :precision => 2, :delimiter => ',') %></td>
    <td>$<%= number_with_precision(@ewp_calc, :precision => 2, :delimiter => ',') %></td>
    <td>$0.00</td>
    <td>$0.00</td>
    <td>$<%= number_with_precision(@cd.principal - @ewp_calc, :precision => 2, :delimiter => ',') %></td>
  </tr>

</table>

<center><p><h4>Call us to arrange this swap CD at 800-234-4605. We must confirm the details.</h4><p></center>

